@{
    this.ViewData["Title"] = $"{@Model.Name} Race";
}
<h1>@Model.Name</h1>
By @Model.OrganizerName
<br />
<br />
Distance: <h3>@Model.Distance km</h3>
<br />
<br />
<dl>
    <dt><b>Description:</b></dt>
    <dd>@Model.Description</dd>
</dl>
<br />
<br />
<a href="~/organizers/results?raceId=@Model.Id" type="button" class="btn btn-primary">Enter Results</a>


    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Results
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Time</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.Results)
                        {
                            <tr>
                                <td>@item.UserId</td>
                                <td>@item.FinishTime</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>