@using X.PagedList.Mvc.Core
@model TichTich.Web.ViewModels.Races.CombinedViewModel;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Races";
}

<h2>Races</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Races", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", Model.SortedModel.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = Model.SortedModel.NameSortPattern, currentFilter = Model.SortedModel.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Participants", "Index", new { sortOrder = Model.SortedModel.ParticipantsSortPattern, currentFilter = Model.SortedModel.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Distance", "Index", new { sortOrder = Model.SortedModel.DistanceSortPattern, currentFilter = Model.SortedModel.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Races)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RacersCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.Races.PageCount < Model.Races.PageNumber ? 0 : Model.Races.PageNumber) of @Model.Races.PageCount
@Html.PagedListPager(Model.Races, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
